<!doctype html>
<html>
<head>
    <meta charset="UTF-8">    
    
    <script src="word_definition.js"></script>
    <script src="bundle.js"></script>

    <link rel="stylesheet" type="text/css" href="popup.css">

    <title>Popup dictionary</title>
</head>
<body>
    <div id="header">
        <select id="language">
            <option value="american" selected="selected">ENG(US)</option>
            <option value="british">ENG(UK)</option>
        </select>
        <input type="text" id="word-to-look-up">
        <button type="button" id="define-button">Define</button>
    </div>

    <div id="word-definition">
    </div>
</body>
</html>
